{% extends 'layout.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
<h1>login into the bank</h1>
<hr>
<div class="login">
    <form action="" method="POST">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Enter your email"> 
        <label for="email">password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password"> 
        <button type="submit">log in</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="signup">
    <h3>You haven't had an account yet ? <a style="color: red;" href="{% url 'signup' %}">Sign up here!</a> </h3>
</div>

{% endblock %}